html {
    box-sizing: border-box;
}
*,*::before,*::after {
    box-sizing: inherit;
}
body {
    color: lightsteelblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.5;
}
img {
    width: 250px;
    height: 300px;
}
a {
    color: rgb(104, 14, 14);
}
a:hover {
    text-decoration: none;
}
h2 {
    margin: 0px;
}
.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding:20px 0 ;
}
header {
    background: rgb(173, 0, 0);
    
}
h1, h2 {
    font-family: 'Bangers', cursive;
}
.Projects {
    background: gray;
}
.Projects .btn {
    color: white;
    background: black;
    text-decoration: none;
    padding: 4px;
    border-radius: 4px;
}
.Projects .btn:hover {
    background: black; 
    opacity: 80%;
}
.project-item {
    overflow: hidden;
    border: bottom 1px dashed;
    padding: 25px 0;
}
.project-item img {
    float: left;
    margin-right: 15px;
}


.Work {
    background: lightslategrey;
}

footer {
    background: dimgray;

}
h3 {
    margin-top: 10px;
    padding-top: 5px;
    border-top: dotted;
}
